<div id="doc">
  <h1 class="text-center" style="padding-bottom: 1%; padding-top: 1%">{{'ruleshosting.title' | translate}}</h1>
  <div class="text-center"><img style="align: center;" width="100px" heigth="100px" src="https://hosting.minet.net/assets/images/logo.png"></div>
  <div style="width: 800px; margin: auto;" *ngIf="this.signsuccess===true" class="alert alert-success success text-center" >{{'ruleshosting.successful_signed' | translate}}</div>
  <div style="width: 800px; margin: auto;" *ngIf="this.generatesuccess===true" class="alert alert-success success text-center" >{{'rules&.successful_generated' | translate}}</div>
  <br>
  <div class="overflow-auto text-justify card ruleshosting" style="margin: auto; height: 800px; width: 80%; padding-left: 2%;padding-right: 2%;padding-bottom: 2%">
    <p>{{'ruleshosting.description' | translate}}</p>

    <p><h5 class="text-center"> {{'ruleshosting.h1' | translate}}</h5>
    <p>{{'ruleshosting.p1_content' | translate}}</p>
    <p>

    <p><h5 class="text-center">{{'ruleshosting.h2' | translate}}</h5>

    <p>{{'ruleshosting.p2_content' | translate}}</p>

    <p><h5 class="text-center">{{'ruleshosting.h3' | translate}}</h5>

    <p>  {{'ruleshosting.p3_1' | translate}}</p>
    <ul>
      <li>{{'ruleshosting.p3_2a' | translate}}</li>
      <li>{{'ruleshosting.p3_2b' | translate}}</li>
      <li>{{'ruleshosting.p3_2c' | translate}}</li>
      <li>{{'ruleshosting.p3_2d' | translate}}</li>
      <li>{{'ruleshosting.p3_2e' | translate}}</li>
      <li>{{'ruleshosting.p3_2f' | translate}}</li>
      <li>{{'ruleshosting.p3_2g' | translate}}</li>
      <li>{{'ruleshosting.p3_2h' | translate}}</li>
      <li>{{'ruleshosting.p3_2i' | translate}}</li>
    </ul>

    <p><h6 class="text-center">{{'ruleshosting.h4' | translate}}</h6>

    <p> {{'ruleshosting.p4_content' | translate}}</p>

    <p><h6 class="text-center"> {{'ruleshosting.h5' | translate}}</h6>
    <p>{{'ruleshosting.p5_content' | translate}}</p>
    <p>

    <p><h5 class="text-center">{{'ruleshosting.h6' | translate}}</h5>
    <p>{{'ruleshosting.p6_content' | translate}}</p>
    <p><h5 class="text-center">{{'ruleshosting.h7' | translate}}</h5>
      <p>{{'ruleshosting.p7_content_1' | translate}}</p>
      <p>{{'ruleshosting.p7_content_2' | translate}}</p>
      <p>{{'ruleshosting.p7_content_3' | translate}}</p>
      <p>{{'ruleshosting.p7_content_4' | translate}}</p>
    <p><h5 class="text-center">{{'ruleshosting.h8' | translate}}</h5>
    <p>{{'ruleshosting.p8_1' | translate}} </p>
    <p>{{'ruleshosting.p8_2' | translate}} </p>
    <ul>
      <li>{{'ruleshosting.p8_2a' | translate}} </li>
      <li>{{'ruleshosting.p8_2b' | translate}} </li>
      <li>{{'ruleshosting.p8_2c' | translate}} </li>
    </ul>
    <p>{{'ruleshosting.p8_3' | translate}}</p>
    <p>{{'ruleshosting.p8_4' | translate}}</p>
  </div>
  <div *ngIf="this.getUser()">
    <div class="divsign" *ngIf="this.getUser().signedhosting===false && this.getUser().username && !this.getUser().admin">
      <div style="margin-top: 3%;margin-left: 2%;margin-right: 2%">
        <div class="row">
          <div class="col-sm-1" style="text-align: center">
            <input ngModel id="checkbox1" name="accepted1" #accepted1="ngModel" type="checkbox" class="col-sm-1">
          </div>
          <div class="col-sm-11 ruleshosting">{{'ruleshosting.by_ticking_1' | translate}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1" style="text-align: center">
            <input ngModel id="checkbox2" name="accepted2" #accepted2="ngModel" type="checkbox" class="col-sm-1">
          </div>
          <div class="col-sm-11 rules2">{{'ruleshosting.by_ticking_2' | translate}}</div>
        </div>
      </div>
      <br>
      <div style="margin-left: 20px" class="col" *ngIf="!this.getUser().admin">
        <button style="margin-left: 53px; margin-top: 10px" *ngIf="accepted1.value && accepted2.value" type="submit" class="btn btn-primary mb-2" (click)="set_adh_signed()">{{'checkout.sign_the_rules' | translate}}</button>
        <button style="margin-left: 53px; margin-top: 10px" *ngIf="!accepted1.value || !accepted2.value" type="submit" class="btn btn-primary mb-2" disabled>{{'checkout.sign_the_rules' | translate}}</button>
      </div>
    </div>
    <br>
    <div class="alreadysigned" style="text-align: center" *ngIf="this.getUser().signedhosting===true && this.getUser().username && !this.getUser().admin">
      <p class="text-center text-success" >{{'rules.already_signed' | translate}} {{ this.getUser().datesignedhosting }}</p>
    </div>
    <div class="nopermission bg-danger text-dark" style="text-align: center" *ngIf="this.getUser().nopermission">
      <p>{{'ruleshosting.not_permission' | translate}}</p>
    </div>
    <div class="admin_sign" *ngIf="this.getUser().admin">
      <h5 class="text-center">{{'rules.admin' | translate}}</h5>
      <form class="form-inline">
        <div class="row">
          <div class="col-sm-1" style="text-align: center">
            <input ngModel id="checkbox" name="accepted1" #accepted1="ngModel" type="checkbox" class="col-sm-1">
          </div>
          <div class="col-sm-11 ruleshosting1">{{'ruleshosting.by_ticking_1' | translate}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1" style="text-align: center">
            <input ngModel id="checkbox" name="accepted2" #accepted2="ngModel" type="checkbox" class="col-sm-1">
          </div>
          <div class="col-sm-11 ruleshosting2">{{'ruleshosting.by_ticking_2' | translate}}</div>
        </div>
        <br>
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" ngModel #pseudo="ngModel" style="margin-left: 40px;" class="form-control" name="pseudo" id="pseudo" placeholder="Pseudo">
        </div>
        <button style="margin-left: 53px; margin-top: 10px" *ngIf="accepted1.value && accepted2.value && pseudo.value" type="submit" class="btn btn-primary mb-2" (click)="set_adh_signed(pseudo.value)">{{'checkout.sign_the_rules' | translate}}</button>
        <button style="margin-left: 53px; margin-top: 10px" *ngIf="!accepted1.value || !accepted2.value || !pseudo.value" type="submit" class="btn btn-primary mb-2" disabled>{{'checkout.sign_the_rules' | translate}}</button>
      </form>
    </div>
  </div>
  <div class="noconnected" *ngIf="!this.getUser()">
    <p class="text-center text-primary">{{'rules.need_login' | translate}}</p>
  </div>
</div>
